<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil - RSIS</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/fragments/layout/navbar.css" />
    <link rel="stylesheet" href="/css/fragments/profil.css" />
    <link rel="icon" type="image/png" href="/images/logo-rsis.png" />
</head>

<body>
    <!-- Navbar Fragment -->
    <div th:replace="~{layout/navbar-pasien :: navbar}"></div>

    <!-- Profil Fragment -->
    <div th:replace="~{fragments/profil :: profil}"></div>
</body>

</html>